/*=============== NAVBAR Boostrap=========== */
header {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

.navbar-nav {
  justify-content: space-around;
}

a.nav-link {
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline #fff;
}

.navbar-toggler {
  background-color: #fff;
  margin-right: 2rem;
}

.nav-link {
  color: #fff !important;
  padding-left: 60px;
}

.navbar {
  font-size: 2rem;
}

.show {
  background-color: #212529;
  border-top: dotted 1px #fff;
}

.show li {
  border-bottom: dotted 1px #fff;
}

.container-fluid {
  padding: 0 !important;
}

.logo_superior {
  width: 290px;
  height: 107px;
}

/* LOGIN DEL MENU DESPLEGABLE */
.contenedor-login-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  display: none;
}

@media (max-width: 993px) {
  .nav-item {
    font-size: smaller;
  }
  .contenedor-login-nav {
    display: flex;
  }
}
@media (max-width: 765px) {
  .contenedor-login-nav {
    display: flex;
  }
}
@media (max-width: 576px) {
  .container {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
  }
  .nav-link {
    border-bottom: 1px dotted #fff;
  }
  a.nav-link:hover {
    text-decoration: none;
  }
  .contenedor-login-nav {
    display: flex;
  }
}
@media (max-width: 393px) {
  .logo_superior {
    display: none;
  }
}
.panel-left {
  max-width: 300px;
  padding-right: 25px;
}

.tittle-info {
  background: url(../multimedia/imagenes/top5.jpeg);
  height: 50px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
}

.top5 img {
  width: 95%;
  border-radius: 10px;
  border: groove 2px;
  width: 40px;
  height: 40px;
}

@media (max-width: 993px) {
  .panel-left {
    display: none;
  }
}
@media (max-width: 576px) {
  .panel-left {
    display: none;
  }
}
/* ================Aplicado a todos los html columna del medio======== */
main {
  margin-top: 100px;
}

.contenido_index {
  background: #141519;
  box-shadow: 0 8px 32px 0 rgb(92, 111, 152);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  max-width: 1000px;
  padding: 0 !important;
  margin-top: 10px;
}

.row {
  --bs-gutter-x: 0rem !important;
}

/* ============================
============ INDEX.HTML========= */
.container-fluid {
  margin-top: 25px;
}

.accordion-button {
  background-color: #212529 !important;
}

.accordion-button:not(.collapsed) {
  color: #fff;
}

.accordion-button {
  color: #fff;
}

.accordion-body {
  background-color: #141519;
  color: #fff;
}

/* ============================
============  FIN INDEX.HTML========= */
/* ============================
============  DESCARGAS.HTML========= */
.descargas_cliente, .descargas_driver, .descargas_utilidades {
  margin-bottom: 1px;
}

.titulo_descargas {
  height: 50px;
  text-align: center;
  background-color: #232C3A;
  color: #ddd;
  padding-top: 10px;
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 10px;
}

.descargas_container, .drivers_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #ddd;
  width: 70%;
  align-items: center;
  background-color: #141519;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 8%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 2px;
}

.descargas_container img {
  border-radius: 28px;
}

.descargas_container:hover {
  background-color: rgba(201, 193, 193, 0.5215686275);
  transition: 0.3s;
}

.descargas_container img:hover {
  transform: scale(1.02);
  animation: 0.3s;
}

/* ============================
============   FIN DESCARGAS.HTML========= */
/* ============================
============  REGISTRO.HTML========= */
.mb-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-bottom: 10px;
  width: 70%;
}

.form-select {
  width: 42%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 15px;
}

.form-label {
  width: 56vw;
  padding-left: 20%;
  color: #fff;
}

.form-control {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.btn-primary {
  background-color: #5C6F98;
  border-color: transparent;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

/* ============================
============  FIN REGISTRO.HTML========= */
/* ============================
============  INFO.HTML========= */
/* LA TABLA DE REQUISITOS EN LA SECCION DESCARGAS FUE REUTILIZADA DE AQUI */
.container_informacion_servidor {
  display: table-row-group;
  vertical-align: middle;
}

.titulo_tabla_informacion {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  background-color: #232C3A;
  padding: 20px;
  color: #fff;
}

.tabla_informacion_completa {
  border-collapse: collapse;
}

.tabla_informacion_completa td {
  table-layout: fixed;
  text-align: center;
  margin-left: 3vw;
  width: 100vw;
  border: 1px solid #ddd;
  padding: 8px;
  color: #fff;
}

.tabla_informacion_completa tr:nth-child(odd) {
  background-color: #252f3f;
}

.tabla_informacion_completa tr:nth-child(even) {
  background-color: #5D6D7E;
}

.titulo_tabla_chaos {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  background-color: #232C3A;
  padding: 35px;
  color: #fff;
}

.titulo_tabla_party {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  background-color: #232C3A;
  padding: 20px;
  color: #fff;
}

.titulo_tabla_comandos {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  background-color: #232C3A;
  padding: 20px;
  color: #fff;
}

.requisitos {
  margin-top: 30px;
}

/* ==========HTML REGLAS=========== */
.contenido_index-guia {
  overflow-y: scroll;
  height: 1000px;
}

.reglas {
  color: #fff;
}

.reglas h4 {
  text-align: center;
  padding: 15px 0 15px 0;
  background-color: #1E2024;
}

.titulo-guias {
  background-color: #1E2024;
  text-align: center;
}

.reglas p {
  padding-left: 5px;
}

.reglas ul li {
  list-style-type: none;
}

.reglas ul {
  padding: 5px;
}

.castigo {
  background-color: red;
}

.fin-reglas {
  background-color: #1E2024;
  border: 1px dotted #fff;
}

/* ITEM SHOP */
.botones-shop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin-left: 1rem;
  transform: scale(0.8);
}
.card .btn-primary {
  width: auto;
  margin-bottom: 0;
  margin-left: 1.5rem;
}

.card-body {
  background: #141519;
  border: 2px solid #4A4533;
  color: #fff;
}

.card-text {
  line-height: 25px;
}
.card-text input {
  margin: 2px 0 2px 0;
}

@media (max-width: 496px) {
  .main-shop .card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 18rem !important;
  }
}
.panel-right {
  padding-left: 25px;
}

/* EN ESTE LOGIN SE ENCUENTRAN LOS ESTILOS DEL LOGIN DE LA DERECHA Y EL QUE ESTA EN EL MENU DESPLEGABLE */
/* ==========LOGIN=========== */
.login_content_box {
  font-size: 12px;
  font-family: tahoma;
  line-height: 16px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: min-content;
  height: auto;
}

.login_content_box input {
  display: block;
  margin: 0 auto;
  font: 400 15px/15px Tahoma, Verdana, Segoe, sans-serif;
  width: 208px;
  height: 31px;
  margin-bottom: 8px;
  line-height: 29px;
  border: 1px;
  border-style: solid;
  border-color: #252F3F;
  padding-left: 30px;
  color: #fff;
  border-top: 1px solid #5C6F98;
}

.login_content_box a {
  text-decoration: none;
  color: #fff;
}

.input-user {
  background: url(../multimedia/imagenes/ico-user.png) no-repeat 6px 5px #26211f;
}

.input_container {
  margin-bottom: 15px;
}

.input-pw {
  background: url(../multimedia/imagenes/ico-pw.png) no-repeat 6px 5px #26211f;
}

.input-pin {
  background: url(../multimedia/imagenes/ico-pin.png) no-repeat 6px 5px #26211f;
}

.formulario_login :focus::placeholder {
  color: transparent;
}

.texto_login {
  display: flex;
  justify-content: space-around;
  padding-left: 5px;
  color: #252F3F;
  font-family: tahoma;
  font-size: 12px;
  margin-bottom: 2px;
}

#login-content-button-submit {
  color: #dadfe8;
  background: rgb(92, 111, 152);
  background: linear-gradient(180deg, rgb(92, 111, 152) 94%, rgba(109, 128, 167, 0.01) 100%);
  border-radius: 5px;
  padding-right: 35px;
  width: 100%;
  border-top: #5c6f98;
}

.boton_login button {
  background-color: transparent;
  border: transparent;
  margin-left: 4px;
  width: 202px;
}

.login-aside {
  background-color: #212529;
  padding-bottom: 10px;
}

/* BOTON DE ITEM SHOP */
.item-shop {
  width: max-content;
}

.item-shop h6 {
  background: url(/multimedia/imagenes/boton-descarga.png) no-repeat;
  height: 114px;
  width: 315px;
  padding: 3rem 0 0 2rem;
  font-size: x-large;
  color: #fff;
}

.item-shop a {
  text-decoration: none;
}

.item-shop:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.item-shop a:focus {
  text-decoration: none;
}

/* ===============Publicidad============= */
.publicidad {
  margin-top: 10px;
  margin-left: 20%;
}

@media (max-width: 993px) {
  .panel-right {
    display: none;
  }
}
@media (max-width: 576px) {
  .panel-right {
    display: none;
  }
}
.contenedor_informacion {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1.5fr 0.5fr;
  grid-template-rows: 9fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.columna_uno {
  max-width: 30vw;
  margin-left: 2.5vw;
  grid-area: 1/1/2/2;
}

.columna_uno h4 {
  font-size: 25px;
  text-align: center;
  color: white;
}

.columna_uno p {
  font-size: 15px;
  color: rgb(215, 215, 250);
  margin-top: 20px;
}

.boton_up {
  grid-area: 1/2/2/3;
  padding-left: 15%;
}

.boton_up img {
  transform: scale(1.2);
}

.columna_dos {
  max-width: 20vw;
  grid-area: 1/3/2/4;
  padding-left: 20%;
}

.columna_dos h4 {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.columna_dos ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 2px;
}

.columna_dos a {
  text-decoration: none;
  margin-left: 5px;
}

.logo_footer {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.columna_dos li {
  margin-top: 10px;
}

.columna_tres {
  padding-top: 7vh;
  padding-right: vw;
  grid-area: 1/4/2/5;
}

.bajo_footer {
  grid-area: 2/1/3/5;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: rgb(92, 111, 152);
}

.bajo_footer a {
  margin-left: 4px;
}

.footer {
  width: 100%;
  background: url(../multimedia/imagenes/bajo-fondo.jpeg);
  color: white;
  padding-top: 15px;
  padding: 10px;
  position: relative;
  bottom: 0;
}

@media (max-width: 576px) {
  .contenedor_informacion {
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    grid-template-rows: 9fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .columna_uno {
    grid-area: 1/1/2/2;
  }
  .columna_uno h4 {
    display: none;
  }
  .boton_up {
    grid-area: 1/2/2/3;
  }
  .boton_up {
    transform: scale(0.8);
  }
  .columna_dos {
    grid-area: 1/3/2/4;
    padding-left: 15%;
    margin: 0;
    width: 30vw;
  }
  .columna_tres {
    display: none;
  }
  .bajo_footer {
    grid-area: 2/1/3/4;
    display: block;
    text-align: center;
    margin-top: 5px;
    bottom: 0%;
  }
  footer img {
    transform: scale(0.9);
  }
}
@media (max-width: 280px) {
  .boton_up {
    display: none;
  }
}
/* =========CONTENIDO GENERAL APLICADO A TODA LA PAGINA============ */
* {
  margin: 0;
  padding: 0;
  font-family: "Candara", "Verdana";
  box-sizing: border-box;
}

html {
  cursor: url(../multimedia/imagenes/cursor.cur), auto;
}

a, input, button:hover {
  cursor: url(../multimedia/imagenes/cursor-a.gif), auto;
}

a:active {
  Color: none;
}

body {
  width: 100%;
  background: url(../multimedia/imagenes/fondo.jpeg) center top fixed;
  background-size: cover;
  width: auto;
}

/*=================Logos de redes deslizables a la derecha*===========*/
.icono_redes {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 120px;
  width: 252px;
  text-align: left;
  margin-left: 81%;
  word-wrap: break-word;
}

.logos_deslizables {
  width: 45px;
  height: 45px;
  border-radius: 28px;
}

@media (max-width: 993px) {
  .icono_redes {
    display: none;
  }
  main {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  body {
    font-size: small;
    max-width: 576px;
  }
  main {
    margin-top: 0;
  }
  .icono_redes {
    display: none;
  }
  .contenido_index {
    width: 100%;
    max-width: 576px;
    margin-top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
