.panel-right{
    padding-left: 25px;
}

/* EN ESTE LOGIN SE ENCUENTRAN LOS ESTILOS DEL LOGIN DE LA DERECHA Y EL QUE ESTA EN EL MENU DESPLEGABLE */

/* ==========LOGIN=========== */

.login_content_box{
    font-size: 12px;
    font-family: tahoma;
    line-height: 16px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: min-content;
    height: auto;
}

.login_content_box input{
    display: block;
    margin: 0 auto;
    font: 400 15px/15px Tahoma,Verdana,Segoe,sans-serif;
    width: 208px;
    height: 31px;
    margin-bottom: 8px;
    line-height: 29px;
    border: 1px;
    border-style: solid;
    border-color: #252F3F;
    padding-left: 30px;
    color:#fff;
    border-top:1px solid #5C6F98 ;
}
.login_content_box a{
    text-decoration: none;
    color: #fff;
}
.input-user{
    background: url(../multimedia/imagenes/ico-user.png)no-repeat 6px 5px #26211f;
}
.input_container{
    margin-bottom: 15px;
}

.input-pw{
    background: url(../multimedia/imagenes/ico-pw.png)no-repeat 6px 5px #26211f;
}
.input-pin{
    background: url(../multimedia/imagenes/ico-pin.png)no-repeat 6px 5px #26211f;
}


.formulario_login :focus::placeholder{
    color: transparent;
}


.texto_login{
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
    color: #252F3F;
    font-family: tahoma;
    font-size: 12px;
    margin-bottom: 2px;
    
}
#login-content-button-submit{
    color: #dadfe8;
    background: rgb(92,111,152);
    background: linear-gradient(180deg, rgba(92,111,152,1) 94%, rgba(109,128,167,0.01) 100%);
    border-radius: 5px;
    padding-right: 35px;
    width: 100%;
    border-top:#5c6f98 ;
}
.boton_login button{
    background-color: transparent;
    border: transparent;
    margin-left:4px;
    width: 202px;
}
.login-aside{
    background-color: #212529;
    padding-bottom: 10px;
}

/* BOTON DE ITEM SHOP */
.item-shop{
    width: max-content;
}

.item-shop h6{
    background: url(/multimedia/imagenes/boton-descarga.png)no-repeat ;
    height: 114px;
    width: 315px;
    padding: 3rem 0 0 2rem;
    font-size: x-large;
    color: #fff;
}
.item-shop a{
    text-decoration: none;
}
.item-shop:hover{
    transform: scale(1.05);
    transition: .3s;
}
.item-shop a:focus{
    text-decoration: none;
}




/* ===============Publicidad============= */
.publicidad{
    margin-top: 10px;
    margin-left: 20%;
 }
 @media  (max-width: 993px){
    .panel-right{
        display: none;
    }
    
}
@media  (max-width: 576px){
    .panel-right{display: none;
    }
}


