@media  (max-width: 993px){
    .panel-left, .panel-right{
        display: none;
    }
    .nav-item{
        font-size: smaller;
    }
    main{
        margin-top: 0;
    }
    .icono_redes{
        display: none;
    
    }
    }
    
    
    @media  (max-width: 576px){
        body{
            font-size:small;
            max-width: 576px;
        }
        .container{
            --bs-gutter-x: 0 !important;
            --bs-gutter-y: 0 !important;
        
        }
        .panel-left{
            display: none;
        }
        .panel-right{
            display: none;
        }
    .icono_redes{
        display: none;
    }
    main{
        margin-top: 0;
    }
    
    .contenido_index{
        width: 100%;
        max-width: 576px;
        margin-top: 0;
    }
    
    .contenedor_informacion{
        display: grid;
        grid-template-columns: 2fr 0.5fr 2fr;
        grid-template-rows: 9fr 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .columna_uno{
        grid-area: 1 / 1 / 2 / 2;
    }
    .boton_up{
        grid-area: 1 / 2 / 2 / 3;
    }
    .boton_up{
        transform: scale(0.8);
    }
    .columna_dos{
        grid-area: 1 / 3 / 2 / 4;
        padding-left: 15%;
        margin: 0;
        width: 30vw;
    }
    .columna_tres{
        display: none;
    }
    .bajo_footer{
        grid-area: 2 / 1 / 3 / 4;
        display: block;
        text-align: center;
        margin-top: 5px;
        bottom: 0%;
    }
    footer img{
        transform: scale(0.9);
    }
     .icono_redes{
        display: none;
     }
    
     .titulo_descargas{
        margin-bottom: 15px;
        margin-top: 15px;
     }
     .descargas_cliente{
        margin-top: 0;
    
    }
    .nav-link{
        border-bottom: 1px dotted #fff;
    }
    a.nav-link:hover{
        text-decoration: none;
    
    }a
    footer{
        width: 100%;
    }
    
    }