/* BOTONES DE REGISTRO */
%boton-registro{
    background-color:#5C6F98;
    border-color: transparent;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;

}

/* FIN BOTONES REGISTRO */